.container {
  background-color: white;
}

/* .mainplusfooter {
  padding-left: 50px;
  padding-right: 50px;
} */

.middle {
  display: flex;
}

.yellow {
  background-color: yellow;
  height: 300px;
  width: 90%;
  margin: 2px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.button {
  align-self: center;
  height: 300px;
  width: 5%;
}

.footer {
  background-color: grey;
  height: 50px;
  width: 100%;
}