* {
  margin: 0;
  padding: 0;
}

body {
  margin: 30px;
  padding: 5px;
  font-family: 'Arapey', serif;
  background-image: url("/assets/c0c6f40aa1c9a7c6c1b6fe6bae728900.jpg");
}

.alcoholList {
  display: flex;
  justify-content: flex-start;
  font-weight: bold;
}

.alcohol {
  padding: 5px;
}

.table {
  border-style: solid;
  border-radius: 3px;
}

#name {
  background-color: black;
  color: white;
  width: 500px;
  font-size: 20px;
}

#price {
  background-color: black;
  color: white;
  width: 300px;
  font-size: 20px;
  font-weight: solid;
}

table {
  min-width: 350px;
  min-height: 400px;
}

tr {
  height: 50px;
}

table tr:nth-child(odd) td{
  background-color: white;
}

table tr:nth-child(even) td{
  background-color: rgb(243, 243, 243);
}

.cocktailName {
  font-size: 18px;
  font-weight: bold;
}

.ingredient {
  font-size: 14px;
}

.cocktailList {
  text-indent: 15px;
}

.pricelist {
  text-align: center;
}



