<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Boxes on boxes</title>
  <link href="/assets/style.css" rel="stylesheet">
  <!--<META HTTP-EQUIV="refresh" CONTENT="15">-->
</head>
  <body>
      <div class="middle">
        <button class="buttonleft">
          <img src="/assets/arrow.svg">
        </button>
        <img class="picture" src="<%= picture %>"/>
        <div class="footer">
          <h2>Foggy train tracks</h2>
          <p>Test</p>
        </div>
        <button class="buttonright">
          <img src="/assets/arrow.svg">
        </button>
      </div>
  </body>
</html>